extends layout 

block content
    ul
        li: a(href="/finance") Finance
        li: a(href="/career") Career
        li: a(href="/health") Health
        li: a(href="/time") Time
        li: a(href="/com") Communication
        li: a(href="/personal") Personal
        li: a(href="/network") Networking
        li: a(href="/travel") Travel
        li: a(href="/cook") Cooking
        li: a(href="/self") Self Care