block layout

doctype html
html 
    head 
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="../css/style.css")
        title Hiya
    body
    nav
        a(href="/")
            img(src="../img/hello.png")
        a(href="https://github.com/jshdm/hiya/blob/main/README.md").right
            img(src="../img/readme.png")
    .content: block content
    footer
        p: a(href="https://github.com/jshdm/hiya")
            strong github/jshdm &copy; mit
