body {
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 25px;
}

h1, h2, h3 { margin: 0; }

.content {
    min-height: 78vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

ul {
    margin: 0; padding: 0;
    list-style-type: none;
    margin-top: 10vh;
}

li {
    font-size: 1.5em;
    margin-bottom: 5px;
    max-width: 45%;
    text-align: left;
}

nav {
    font-weight: bold;
    h1, h2, h3 {
        a{
            color: #fff;
            background-color: #0074D9;
            padding: 8px;
            border-radius: 5px;
        }
    }
}

img {
    width: 60px;
    margin: 0 auto;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #000;
    &:hover {
        text-decoration: underline;
    }
}

nav a {
    float: left;
}

.right {
    float: right;
}

footer {
    margin: 0 auto;
    float: left;
    width: 80vw;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #000;
    max-width: 40vw;
    a{ color: #fff; }
}
